<footer>
  <div class="footer-content">
    <p>
      <a href="/">
        <img
          src="/static/images/sparko_logo2.png"
          alt="Home"
          style="
            height: 23px;
            vertical-align: middle;
            padding-right: 5px;
            margin-top: -2px;
          "
        />
      </a>
      <b> Šprako.d.o.o. <s>&copy;</s> </b>
      <script>
        document.write(new Date().getFullYear());
      </script>
      | No rights reserved.
    </p>
  </div>
</footer>
